@import "@/index.scss";

.nav {
    position: relative;
    z-index: 2;
    background-color: $mainBackgroundColor;

    &__wrapper {
        @extend %wrapper;
        padding: 20px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        animation: fade 0.3s linear both;

        &:after {
            display: none;
        }
    }

    &__list,
    &__list-active {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-out;
    }

    &__item {
        animation: fade 0.3s linear both;

        @include listAnimationDelay(3, 0.2s, 0.1s);
    }

    &__link {
        position: relative;
        font-size: 24px;
        line-height: 28px;
        transition: color 0.2s ease-out;

        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 2px;
            background-color: white;
            transition: width 0.3s ease-in;
        }

        &:hover {
            color: rgb(180 180 180);

            &:after {
                width: 100%;
            }
        }
    }

    &__link.active {
        cursor: not-allowed;
        color: $redHightlightColor;
    }

    &__logo.active {
        color: white;
        cursor: none;

        &:after {
            display: none;
        }
    }

    &__control {
        display: none;
        width: 20px;
        height: 20px;
        position: relative;
        overflow: hidden;

        &__line {
            position: absolute;
            width: 20px;
            height: 2px;
            left: 0;
            background-color: white;
            transition: all 0.3s;
            border-radius: 2px;

            &:first-child {
                top: 0;
            }

            &:last-child {
                bottom: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &-active {

                &:first-child {
                    top: 9px;
                    animation: rotate 0.3s 0.3s both;
                }

                &:last-child {
                    bottom: 9px;
                    animation: rotate-reversed 0.3s 0.3s both;
                }

                &:nth-child(2) {
                    height: 0;
                }
            }
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .nav {

        &__list,
        &__list-active {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            height: calc(100vh - 50px);
            z-index: 3;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 5%;
            overflow: hidden;
            background-color: $mainBackgroundColor;
            z-index: 10;
        }

        &__list {
            height: 0;

            .nav__item {
                display: none;
            }
        }

        &__item {
            margin-top: 80px;

            &:first-child {
                margin-top: 200px;
            }
        }

        &__control {
            display: inline-block;
        }
    }
}
