@import "@/index.scss";

.map {
    box-sizing: border-box;
    width: 50%;
    animation: expand 1s 1s linear both;

    &__container {
        width: 100%;
        aspect-ratio: 1;
    }
}

@media (max-width: $tabletBreakPoint) {

    .map {
        width: 100%;
        max-width: 600px;
    }
}
