@import "@/index.scss";

.description {
    width: 50%;

    .about-heading {

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                text-shadow: none;
            }
        }
    }

    &__text {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 2px;
        animation: appearing 0.3s 1s ease-out both;

        @include listAnimationDelay(3, 1s, 0.2s);
    }
}
