@import "@/index.scss";

.description {

    .about-heading {

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                color: $redHightlightColor;
                text-shadow: none;
            }
        }
    }

    &__text {
        position: relative;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 2px;

        @include overflow(100%, 0.6s, 1.2s);
        @include listAnimationDelay(3, 1.2s, 0.2s);
    }
}

@media (max-width: $tabletBreakPoint) {

    .description {
        width: 100%;

        &__text {
            font-size: 20px;
            line-height: 32px;
        }
    }
}
