@import "@/index.scss";

.description {
    width: 50%;

    .about-heading {

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                text-shadow: none;
            }
        }
    }

    &__text {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 2px;
        animation: appearing 0.3s 1s ease-out both;

        &:nth-of-type(2) {
            animation-delay: 1.1s;
        }

        &:nth-of-type(3) {
            animation-delay: 1.2s;
        }
    }
}
