footer {
  height: 50vh;
  background: linear-gradient( transparent 30%, rgb(0, 0, 0));
  padding-top: 20vh;
  -webkit-clip-path: polygon(0% 100%, 0% 25%, 100% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 0% 25%, 100% 0%, 100% 100%);
  .contact {
    .contact__menu {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 40vw;
      margin: 0 auto;
      .contact__item {
        .social {
          color: white;
          transition: all 0.1s 0.1s linear;
          &:hover {
            color: $highlight_color;
          }
        }
      }
    }
  }
}