
$header_text: rgb(200, 200, 200);
$main__text: rgb(70, 70, 70);
$highlight_color: rgb(52, 75, 77);

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  font-size: 30px;
  body {
    margin: 0;
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)), url(../img/background.jpg);
    background-size: contain;
    header {
      height: 100vh;
      background-attachment: fixed;
      background-size: contain;
      color: $header_text;
      .hello {
        width: 50vw;
        position: relative;
        left: 30px;
        top: 20vh;
        .hello__title {
          font-size: 50px;
        }
      }
      .nav {
        height: 80px;
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          letter-spacing: 3px;
          position: relative;
          font-size: 30px;
        }
        .nav__menu {
          height: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          .link__item {
            margin:0 30px;

            .link {
              position: relative;
              display: flex;
              justify-content: center;
              text-decoration: none;
              color: $header_text;
              font-size: 24px;
              line-height: 40px;
              font-weight: bold;
              &::after {
                content: '';
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                background: $highlight_color;
                border-radius: 8px;
                visibility: hidden;
                transition: all 0.1s 0.1s linear;
              }
              &:hover::after {
                visibility: visible;
                width: 100%;
              }
            }
          }
        }
      }
    }
    main {
      clip-path: polygon(0% 100%, 0% 0%, 100% 10%, 100% 95.5%);
      position: relative;
      top: 12vh;
      padding-top: 20vh;
      background: white;
      color: $main__text;
      .about {
        position: relative;
        padding: 2vh 3vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
          .about__item {
          width: 40vw;
          position: relative;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          &::before {
            content: '';
            width: 20%;
            height: 8px;
            position: absolute;
            top: 0;
            background: $highlight_color;
            border-radius: 10px;
          }
          &::after {
            content: '';
            width: 20%;
            height: 8px;
            position: absolute;
            bottom: 0;
            background:  $highlight_color;
            border-radius: 10px;
          }
        }
        .my__gif {
          width: "35%";
        }
        .skills {
          min-height: 60vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          .skills__container {
            width: 85vw;
            background-color: rgb(240, 240, 240);
            border-radius: 10px;
            .skills__menu {
              width: 80vw;
              position: relative;
              display: flex;
              justify-content: space-between;
              padding: 20px 40px;
              margin: 0 auto;
              list-style: none;
              background: $highlight_color;
              border-radius: 10px;
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 30px  rgba(0, 0, 0, 0.4) ;
              .skills__item {
                .skill {
                  color: white;
                  transition: all 0.1s 0.1s linear;
                  &:hover {
                    color: rgb(44, 44, 44);
                  }
                }
              }
            }
          }
        }
      }
      .projects {
        min-height: 150vh;
        position: relative;
        clip-path: polygon(0% 100%, 0% 0%, 100% 20%, 100% 100%);
        padding-top: 30vh;
        display: flex;
        justify-content: center;
        background: rgb(200, 200, 200);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 30px  rgba(0, 0, 0, 0.4) ;

        .projects__title {
          display: inline-block;
          position: relative;
          margin: 0 auto;
          height: 60px;
          align-items: center;
          &::after{
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $highlight_color;
            border-radius: 10px;
          }
        }
      }
    }
    footer {
      height: 50vh;
      background: linear-gradient( transparent 30%, rgb(0, 0, 0));
      padding-top: 20vh;
      clip-path: polygon(0% 100%, 0% 25%, 100% 0%, 100% 100%);
      .contact__container {
        .social__menu {
          display: flex;
          justify-content: space-between;
          list-style: none;
          width: 40vw;
          margin: 0 auto;
          .social__item {
            .social {
              color: white;
              transition: all 0.1s 0.1s linear;
              &:hover {
                color: $highlight_color;
              }
            }
          }
        }
      }
    }
  }
}





