@import "variables";
@import "reset";
@import "extends";
@import "header/header";
@import "header/header__head";
@import "header/header__greeting";
@import "header/nav";
@import "header/nav__mobile";
@import "header/header__animation.scss";
@import "main";
@import "about/about";
@import "about/about__text";
@import "skills/skills";
@import "skills/skills__container";
@import "projects/projects";
@import "projects/projects__container";
@import "footer/footer";
@import "footer/footer__contact";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0, 0.7)), url(../img/background.jpg)  fixed;
  background-size: cover;
  @media (max-width: $phone-break-point) {
    background-size: 220%;
  }
}