.nav {
  height: 80px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    letter-spacing: 3px;
    position: relative;
    font-size: 30px;
  }
  .nav__menu {
    height: 100%;
    width: 40vw;
    max-width: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    .link__item {
      margin:0 30px;

      .link {
        position: relative;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: $header_text;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        &::after {
          content: '';
          width: 0;
          height: 3px;
          position: absolute;
          bottom: 0;
          background: $highlight_color;
          border-radius: 8px;
          visibility: hidden;
          transition: all 0.1s 0.1s linear;
        }
        &:hover::after {
          visibility: visible;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 800px) {

  .nav {
    justify-content: center;
    padding: 0;
    .logo{
    display: none;
    }
    .nav__menu {
      width: 100vw;
      padding: 0 10vw;
      .link__item {
        margin: 0;
      }
    }
  }

}