* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  scroll-behavior: smooth;
  font-size: $main_font-size;
}

body {
  margin: 0;
  background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)), url(../img/background.jpg);
  background-attachment: fixed;
  background-size: 100%;
}