.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 20px;

  &__card {
    height: 400px;
    width: 400px;
    perspective: 1000px;
    transition: width 0.3s, height 0.3s;
    .front {
      color: $header_text;
      position: absolute;
      transition: transform 0.5s 0.1s;
    }
    .back {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.7);
      backface-visibility: hidden;
      transition: transform 0.5s 0.1s;
      transform: rotateY(180deg);
      &__text {
      margin-top: 20px;
    }
      &__link {
        position: relative;
        &::after {
          content: "";
          width: 0;
          height: 3px;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -8px;
          border-radius: 8px;
          background-color: $header_text;
          transition: width 0.3s;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    &:hover .front{
      transform: rotateY(180deg);
    }
    &:hover .back{
      transform: rotateY(360deg);
    }
  }
  &__photo {
    width: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 900px) {
  .projects-container {
    &__card {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 500px) {
  .projects-container {
    &__card {
      width: 130px;
      height: 130px;
    }
  }
}