@import "@/index.scss";

.heading {
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
    font-size: 90px;

    &__letter {
        cursor: pointer;
        transition: all 0.2s linear;
        opacity: 0;
        animation: fade 0.3s ease-out both;

        &:hover {
            color: $redHightlightColor;
            text-shadow: 3px 5px $cyanHightlightColor;
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .heading {
        font-size: 56px;
    }
}
