@import "@/index.scss";

.heading {
    margin-bottom: 40px;
    color: white;

    &__letter {
        font-weight: 700;
        font-size: 90px;
        cursor: pointer;
        transition: all 0.2s linear;
        opacity: 0;
        animation: appearing 0.3s ease-out both;

        &:hover {
            color: $redHightlightColor;
            text-shadow: 3px 5px $cyanHightlightColor;
        }
    }
}

@keyframes appearing {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
