.greeting {
  &__container {
    margin: 35vh 0;
  }
  &__heading {
    font-size: 60px;
    white-space: pre;
    span {
      display: inline-block;
      position: relative;
      z-index: 2;
      transition: transform 0.3s ease-out;
      &:hover{
        color: $header-highlight_color;
        transform: scale(1.5);
        transform-origin: 20% 65%;
      }
    }
  }
  &__mobile {
    display: none;
    font-size: 32px;
  }
}

@media (max-width: $phone-break-point){
  .greeting {
    &__container {
      display: none;
    }
    &__mobile {
      margin: 35vh 0;
      display: inline-block;
    }
  }
}
