.greeting {
  &__container {
    margin: 30vh 0 45vh;
  }
  &__heading {
    font-size: 70px;
    white-space: pre;
    font-weight: bolder;
    letter-spacing: 2px;
    span {
      display: inline-block;
      position: relative;
      z-index: 2;
      transition: transform 0.3s ease-out, color 0.3s ease-out, text-shadow 0.3s ease-out;
      &:hover{
        color: $header-highlight_color;
        transform: scale(1.3);
        transform-origin: 50% 90%;
        text-shadow: 3px 3px 1px $highlight_color;
      }
    }
  }
  &__mobile {
    display: none;
    font-size: 32px;
  }
}

@media (max-width: $phone-break-point){
  .greeting {
    &__container {
      display: none;
    }
    &__mobile {
      margin: 35vh 0;
      display: inline-block;
    }
  }
}
