@import "@/index.scss";

.projects {
    flex-grow: 1;

    .slider {
        height: calc(100vh - 68px);
        animation: fade 0.3s linear;
    }

    .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            width: 100%;
        }
    }

    .slick-prev,
    .slick-next {
        left: 5%;
        transform: translateX(-50%) translateY(-50%);
        height: 48px;
        width: 48px;
        border-radius: 50%;
        border: 3px solid white;
        z-index: 2;
        transition: all 0.1s ease-in;

        &:hover {
            height: 58px;
            width: 58px;
        }

        &:before {
            color: transparent;
            background: url("@static/images/projects/prev.svg");
            background-position: center;
            background-size: 200%;
            background-repeat: no-repeat;
        }
    }

    .slick-next {
        left: unset;
        right: 5%;
        transform: translateX(50%) translateY(-50%);

        &:before {
            background: url("@static/images/projects/next.svg");
            background-position: center;
            background-size: 200%;
            background-repeat: no-repeat;
        }
    }

    &__item {
        width: 100%;
        height: calc(100vh - 68px);
        overflow: hidden;
        position: relative;

        &__text-area {
            width: 80%;
            left: 0;
            right: 0;
            margin: 0 10%;
            bottom: 40%;
            padding: 35px 0;
            position: absolute;
            z-index: 3;
            transform: translateY(50%);

            &:hover {

                .projects__item__description {
                    height: 100px;
                }
            }
        }

        &__name {
            font-size: 70px;
            margin-bottom: 40px;
        }

        &__description {
            display: flex;
            align-items: flex-end;
            font-size: 24px;
            width: 70%;
            height: 0;
            overflow-y: hidden;
            transition: height 0.5s;

            &-wrapper {
                padding-bottom: 20px;
                border-bottom: 1px solid white;
            }
        }
    }

    &__preview,
    &__preview-focused {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
    }

    &__preview-focused {
        transform: scale(1.1);
        filter: brightness(0.4);
    }
}

@media (max-width: $tabletBreakPoint) {

    .projects {

        &__item {

            &__name {
                font-size: 50px;
                margin-bottom: 40px;
            }

            &__description {
                width: 100%;
                height: 100px;
                font-size: 20px;
            }

            &__text-area {
                bottom: 30%;
            }
        }

        &__preview,
        &__preview-focused {
            filter: brightness(0.6);
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .projects {

        &__item {

            &__name {
                font-size: 36px;
            }
        }
    }
}
