@import "@/index.scss";

.projects {
    flex-grow: 1;

    .slider {
        height: calc(100vh - 68px);
        animation: fade 0.8s linear;
    }

    .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            width: 100%;
        }
    }

    .slick-prev,
    .slick-next {
        left: 5%;
        transform: translateX(-50%) translateY(-50%);
        width: 100px;
        height: 100px;
        z-index: 2;
        transition: all 0.1s ease-in;

        svg {
            transform: rotate(180deg);
            width: 100%;
            height: 100%;
            fill: transparent;
            stroke: $redHightlightColor;
            stroke-width: 15px;
            stop-color: $redHightlightColor;
            stroke-linejoin: miter;
            transition: all 0.3s;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
            overflow: hidden;
            transform: rotate(180deg);
            background: url("@static/images/projects/next.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.5s;
            z-index: 3;
        }

        &:hover {

            &:before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }

    .slick-next {
        left: unset;
        right: 5%;
        transform: translateX(50%) translateY(-50%);

        &:before {
            transform: rotate(0deg);
        }

        svg {
            transform: rotate(0);
        }
    }

    &__item {
        width: 100%;
        height: calc(100vh - 68px);
        overflow: hidden;
        position: relative;

        &__text-area {
            width: 80%;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 35%;
            padding: 35px 0;
            position: absolute;
            z-index: 3;
            transform: translateY(50%);

            &:hover {

                .projects__item__description {
                    height: 100px;
                }
            }
        }

        &__name {
            @include overflow(70px, 0.4s, 0.3s);

            margin-bottom: 40px;
            font-size: 70px;
            overflow: hidden;
        }

        &__description {
            display: flex;
            align-items: flex-end;
            font-size: 24px;
            width: 70%;
            height: 0;
            overflow-y: hidden;
            transition: height 0.5s;

            &-wrapper {
                padding-bottom: 20px;
                border-bottom: 1px solid $redHightlightColor;
            }
        }
    }

    &__preview,
    &__preview-focused {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.7s;
        filter: blur(8px) brightness(0.6);
    }

    &__preview-focused {
        transform: scale(1.1);
        filter: blur(0) brightness(0.4);
    }
}

@media (max-width: $tabletBreakPoint) {

    .projects {

        &__item {

            &__name {
                font-size: 50px;
            }

            &__description {
                width: 100%;
                height: 100px;
                font-size: 20px;
            }

            &__text-area {
                bottom: 30%;
            }
        }

        &__preview,
        &__preview-focused {
            filter: brightness(0.6);
        }

        .slick-prev,
        .slick-next {
            left: 10%;
        }

        .slick-next {
            left: unset;
            right: 10%;
        }
    }
}

@media (max-width: $phoneBreakPoint) {

    .projects {

        &__item {

            &__name {
                font-size: 36px;
            }

            &__description {
                height: 100px;
                font-size: 16px;
            }

            &__text-area {
                width: 90%;
                bottom: 25%;
            }
        }
    }
}
