@import "@/index.scss";

.loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: $mainBackgroundColor;
    z-index: 5;
    animation: loader-translate 1.5s linear both;
    border: 1px solid red;
}

@keyframes loader-translate {

    0% {
        transform: translateX(-100vw);
    }

    15% {
        transform: translateX(0);
    }

    85% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}
