.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        animation: loading 1.2s linear both infinite;
    }
}

@keyframes loading {

    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
