@import "@/index.scss";

.contact {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @extend %wrapper;

    &__heading {

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                text-shadow: none;
            }
        }
    }

    &__form-area {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__map {
        margin-left: 5%;
        width: 50%;
        min-width: 400px;
    }
}
