@import "@/index.scss";

.contact {
    @extend %wrapper;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        width: 100%;
        margin: 80px 0 0;
        padding-bottom: 20px;
        text-align: left;

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                text-shadow: none;
            }
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__list {
        position: relative;
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid rgb(59 59 59);
        animation: fade-left 0.8s 1s ease-out both;
    }

    &__link {
        margin-right: 10px;

        svg {
            width: 40px;
            fill: $cyanHightlightColor;
            transition: all 0.3s;
        }

        &:hover {

            svg {
                fill: $redHightlightColor;
            }
        }
    }
}

@media (max-width: $tabletBreakPoint) {

    .contact {

        &__wrapper {
            flex-grow: 1;
        }
    }
}
