@import "@/index.scss";

.contact {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend %wrapper;

    &__heading {

        &__letter {
            color: $cyanHightlightColor;

            &:hover {
                text-shadow: none;
            }
        }
    }
}
