.skills {
  background-color: rgb(240, 240, 240);
  -webkit-clip-path: polygon(0% 90%, 0% 30%, 100% 0%, 100% 100%);
  clip-path: polygon(0% 85%, 0% 30%, 100% 0%, 100% 100%);
  position: relative;
  padding: 15vh 0 22vh;
  &__wrapper {
  @extend %max-content-width;
  }
  &__heading {
    text-align: center;
    margin-bottom: 50px;
  }
}
