.skills-container {
  border-radius: 10px;
  &__list {
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: $highlight_color;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 30px  rgba(0, 0, 0, 0.4) ;
  }
  &__item {
    .skill {
      color: white;
      transition: color 0.3s, transform 0.3s;
      &:hover {
        color: $header-highlight_color;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: $phone-break-point) {
  .skills-container {
    max-width: 400px;
    margin: 0 auto;
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      gap: 5px;
    }
  }
}