.skills {
  background-color: #393939;
  -webkit-clip-path: polygon(0% 85%, 0% 0%, 100% 10%, 100% 100%);
  clip-path: polygon(0% 85%, 0% 25%, 100% 0%, 100% 100%);
  position: relative;
  padding: 15vh 0 20vh;
  top: 12vh;
  &__wrapper {
  @extend %max-content-width;
  }
  &__heading {
    text-align: center;
    margin-bottom: 50px;
    @extend %hover;
  }
}
