/* Breakpoints */
$desktopBreakPoint: 1200px;
$tabletBreakPoint: 1024px;
$phoneBreakPoint: 600px;

/* Colors */
$mainBackgroundColor: #141414;
$redHightlightColor: #d8617b;
$cyanHightlightColor: #5caaa9;