/* Breakpoints */
$desktopBreakPoint: 1200px;
$tabletBreakPoint: 800px;
$phoneBreakPoint: 600px;

/* Colors */
$mainBackgroundColor: #1d1d1d;
$redHightlightColor: #c75870;
$cyanHightlightColor: #168a95;
