/* Breakpoints */
$desktopBreakPoint: 1200px;
$tabletBreakPoint: 1024px;
$phoneBreakPoint: 600px;

/* Colors */
$mainBackgroundColor: #1b1b1b;
$redHightlightColor: #c75870;
$cyanHightlightColor: #2ea19f;
